<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#">Home</a>
    </li>
    <li><a ng-href="#/about">About</a>
    </li>
    <li class="active"><a ng-href="#/portfolio">Portfolio</a>
    </li>
    <li><a ng-href="#/contact">Contact</a>
    </li>
    <li><a ng-href="#/pictures">Pictures</a>
    </li>
    <li><a ng-href="#/links">Links</a>
    </li>
  </ul>
  <h3><a class="text-muted" ng-href="#">Silvia</a>
  </h3>
</div>

<div class="jumbotron" ng-controller="PortfolioCtrl">

  <section class='spel'>
    <section class='sten'>
      <img src="images/sten_sax_pase.jpg" height="300" width="400" />
      <h1 ng-class="main-title">Sten, Påse, Sax</h1>
      <p>Poäng:
        <span ng-class='anvandarens_poang'>0</span>-
        <span ng-class='datorns_poang'>0</span>
      </p>
      <p>
        <span ng-class='Anvandarens_val'></span>-
        <span ng-class='Datorns_val'></span>-
        <span ng-class='spelresultat'></span>
      </p>

      <a class="btn btn-default" href="#" role="button">Sten</a>
      <button class="btn btn-default" type="submit">Sax</button>
      <input class="btn btn-default" type="button" value="Påse">
      <input class="btn btn-default" type="submit" value="Börja om">
      <p ng-class='slutresultat'></p>
    </section>
  </section>

</div>

<div class="footer">
  <p>♥ Love from Silvia</p>
</div>
